@tailwind base;
@tailwind components;
@tailwind utilities;

body
{ 
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 263px;
}
.logo
{
    width:153px;
    margin:auto;
}

.toggleContainer
{
    display: flex; 
    flex-direction: row; 
    height: 18px; 
    justify-content: space-between;
}